.navigation-bar { /* (1) */
    background-color: rgba(255, 255, 255, 0.5);  /*투명도를 50%로 조절함 */
    width: 8rem;
    height: 3rem;
    border-radius: 0 10px 0 0;
    display: flex;                 /* (2) */
    justify-content: space-around; /*컨테이너 내에 균등하게 분포 */
    align-items: center;
    position: fixed;
    bottom: 0; /*화면에서 가장 아래로 위치시킴, 아래로 부터 0만큼 떨어짐 */
  }
  .navigation-bar span {
    color: black;
    font-size: 2rem;
  }
  .find-icon-clicked {
      font-weight: 600;
  }